body { 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.light {
    --operators-btn: #F09536;
    --minor-btn: #808080;
    --minor-btn-text: #FFFFFF;
    --number-btn: #E5E5E5; 
    --text-primary: #000000;  
    --bg-color: #FFFFFF;   
}
.dark{
    --operators-btn: #F69906;
    --minor-btn: #A0A0A0;
    --minor-btn-text: #000000;
    --number-btn: #313131;
    --text-primary: white; 
    --bg-color: #000000;
}
main { 
    width: 300px;
    max-width: 310px; 
    height: 66vh;
    min-height: 70vh;
    max-height: 100vh;
    border: 2px solid var(--text-primary);
    border-radius: 3rem;
    padding: 0rem 0.8rem 0.5rem 0rem;
    position: relative;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column; 
    align-items: center;
    box-shadow: 1px 1px 10px 10px gray;
}
.calculator_display bdi {
    position: absolute;
    bottom: 0; 
}
.calculator_display {
    height: 24%; 
    width: 100%;
    color: var(--text-primary);
    padding: 0.5rem;  
    font-size: 3rem;
    font-family: sans-serif;
    position: relative; 
    word-break: break-all; 
    overflow: clip;
}
.calculator_keys {
    margin-top: 0.4rem;
    padding: 1rem 0rem 1rem 1rem;
    width: 96%; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.6rem;
    margin-bottom: 21px;
}
.calculator_keys div { 
    border-radius: 50%;
    padding: 1.2rem 0rem 1.1rem 0rem;
    font-size: large;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.minor-operator {
    background-color: var(--minor-btn);
    color: var(--minor-btn-text);
}
.operators {
    background-color: var(--operators-btn);
    color: var(--text-primary);
}
.zero {
    grid-column: 1/3;
    text-align: start !important;
    border-radius: 30% !important;
    padding-left: 1.7rem !important;
}
.number {
    background-color: var(--number-btn);
    color: var(--text-primary);
} 
.bottom-line {
    height: 0.3rem;
    width: 40%;
    background-color: var(--text-primary);
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    left: 29%; 
}
.top {
    width: 100%;
    margin-left: 2.8rem;
    padding: 0.8rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--text-primary);
}
.icons {
    margin-right: 1.7rem;
}
.top i {
    font-size: smaller;
    color: var(--text-primary);
}
.topline {
    width: 45%;
    height: 1rem; 
    border: 1px gray solid;
    border-top: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

@media (max-height: 780px){
    main {
        position: fixed;
        top: 0.2rem;
        height: 90vh;
    }
    
}

@media (max-height: 580px) {
.calculator_display {
        border: none; 
        padding: 0.5rem 0.8rem 0.5rem 0.5rem; 
        height: 17%;
    } 
    .calculator_keys {
        overflow: auto;
    }
    .calculator_keys div { 
        padding: 1rem 0rem 1rem 0rem;
        font-size: normal; 
    }
}
